<!--SOBRE-->
<div class="jumbotron" style="background-color: #fff;" id="sobre">
    <div class="container">
        <p class="sub2">SOBRE</p><br /><br />
        <p class="text2">O Teatro Didático da Unesp é uma companhia teatral que surge como um projeto de extensão universitária vinculado à Universidade Estadual Paulista Júlio de Mesquita Filho - UNESP, no ano de 1993. 
            A partir de 2008, o grupo passa a ser dirigido e coordenado por Wagner Cintra, mudando os rumos de sua pesquisa, se dedicando a linguagens que atuem no hibridismo do teatro com as artes visuais. 
            Assim, o grupo elege o universo do Teatro Visual como linguagem central do seu processo criativo. 
            Atualmente seus integrantes são Wagner Cintra (Diretor e Coordenador), Elis Regina, Igor Erbert e Salomão Pôlegar. </p>
        <p class="text2">O grupo que nasce vinculado à Unesp transpôs os portões da universidade e atualmente está inserido no contexto teatral profissional, não somente do Estado de São Paulo, mas no próprio
            contexto do teatro brasileiro e internacional, sobremodo no que diz respeito ao universo do Teatro de Animação. Premiado nacional e internacionalmente, nos últimos quatro anos o grupo já se apresentou
            em diversos estados do Brasil além de festivais no México, Portugal e República Tcheca. Seus últimos espetáculos foram desenvolvidos em parceria com o Teatro de Brancaleone, e pela contribuição prática e
            teórica na área do teatro de formas animadas, os grupos tornaram-se referência nacional e internacional nessa linguagem, sendo o Teatro Didático da Unesp e o Teatro de Brancaleone os únicos grupos
            brasileiros reconhecidamente a ter o Teatro Visual como linguagem de pesquisa.</p>
    </div>
</div>